---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Hecho con ❤️ desde Maipú por <a href="https://nicomelgarejo.com" target="_blank">Nico Melgarejo</a> de <a href="https://colegio.ticlass.com" target="_blank">TIClass</a>
      </p>
    </div>
  </section>
</footer>
