---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">🏡 Inicio</a>
    </li>
    
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">LA PRUEBA</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">Continuidad de Estudios - TEMARIO</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/"> Fines Laborales - TEMARIO</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">Menores de Edad - TEMARIO</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">¿Cómo es la Prueba?</a>
        </li>
      </ul>
    </ul>

    </li>

    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">INSCRIPCIÓN</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">Calendario 2023 </a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">Requisitos para rendir</a>
        </li>
      </ul>
    </li>

    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">PREPARACIÓN</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">Materiales gratuitos Oficiales</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">Curso online 4 meses</a>
        </li>
      </ul>
    </li>

    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">RESULTADOS</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">Revisar resultados</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">¿Cómo apelar a los resultados?</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">Descargar certificados</a>
        </li>
      </ul>
    </li>

    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>

    <li class="menu-item type-icon">
      <a href="https://chat.whatsapp.com/Cl8u9yFz0yzIoeJpwqiCI7" title="Ir al Grupo de WhatsApp informativo">
        <Icon pack="ion" name="logo-whatsapp" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/markteekman/accessible-astro-starter" title="Go to the GitHub page">
        <Icon pack="ion" name="logo-youtube" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/markteekman/accessible-astro-starter" title="Go to the GitHub page">
        <Icon pack="ion" name="logo-instagram" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/markteekman/accessible-astro-starter" title="Go to the GitHub page">
        <Icon pack="ion" name="logo-discord" />
      </a>
    </li>
    
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
